@model IEnumerable<Nordic.Models.Destination>

@{
    ViewBag.Title = "Destinations";
}


<div style="height:650px">
    <h1 style="color:white; font-size:100px; text-align:center; padding-top:180px">Destinations</h1>
</div>

<br/>

@if (User.IsInRole("Administrator"))
{
    <p style="text-align:right">
        @Html.ActionLink("Add a destination", "Create", "Destinations", new { @class = "btn btn-default" })
    </p>
}

<table id="destinationTable" class="table">
    <thead>
        <tr>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.DestinationName)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="display:table-cell; vertical-align:middle; text-align:center">
                    @Html.DisplayFor(modelItem => item.DestinationName)
                </td>
                <td style="display:table-cell; vertical-align:middle">
                    <img src="@item.ImageUrl" style="max-width:200px" />
                </td>
                <td style="display:table-cell; vertical-align:middle; text-align:justify">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="display:table-cell; vertical-align:middle">
                    @if (User.IsInRole("Administrator"))
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.DestinationId })
                    }
                    @Html.ActionLink("Details", "Details", new { id = item.DestinationId })
                    @if (User.IsInRole("Administrator"))
                    {
                        <button data-destination-id="@item.DestinationId" class="btn-link js-delete">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>

</table>



@section dest{
    <style type="text/css">
        body {
            background-image: url('../../Content/imgs/destinations-2.jpg');
            background-size: 1920px 700px;
            background-repeat: no-repeat;
            margin: 0;
            background-color: #f5f5f5;
        }
    </style>
}

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#destinationTable").DataTable();
            $("#destinationTable .js-delete").on("click", function () {
                var button = $(this);
                bootbox.confirm("Are you sure you want to delete this destination?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/Destinations/Delete/" + button.attr("data-destination-id"),
                            method: "GET",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            },
                            error: function (err) {
                                console.log(err);
                            }
                        });
                    }
                });
            });

        });
    </script>
}